# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.manifest'
'name': 'Manifest'
'fileTypes': []
'firstLineMatch': "^\\s*# :-- manifest --:"
# 'foldingStartMarker': "^\\s*#\\s*--"
# 'foldingStopMarker': "^\s*$"
'patterns': [
  {
    'match': '^\\s*#[^\\-]{2}.*$'
    'name': 'comment.manifest'
  },
  {
    'match': '^\\s*(#--)(.*)$'
    'captures': {
      '0': {
        'name': 'comment.manifest'
      }
      '2': {
        'name': 'heading.manifest'
      }
    }
  }
  {
    'match': '^\\s*([a-zA-Z0-9\\-]+)\\s+([^\\s]+)\\s+([^\\s]+)\\s+(.+)$'
    'captures': {
      '0': {
        'name': 'line.manifest'
      },
      '1': {
        'name': 'keyword.control.manifest'
      },
      '2': {
        'name': 'variable.manifest'
      }
      '3': {
        'name': 'constant.numeric.manifest'
      }
      '4': {
        'name': 'string.manifest'
      }
    }
  }
]
